body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.main {
  background: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  box-sizing: border-box;
}

.main__logo {
  font-family: Raleway;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.main__logo img {
  margin-bottom: 15px;
}

.main__list {
  list-style: none;
  display: flex;
}

.main__item-link {
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}
.main__item-link::before,
.main__item-link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: #d4c17f;
  transition: 0.4s;
}
.main__item-link::before {
  top: -5px;
  right: 0;
}
.main__item-link::after {
  bottom: -5px;
  left: 0;
}
.main__item-link:hover::before,
.main__item-link:hover::after {
  width: 100%;
}
.main__item-link:active::before,
.main__item-link:active::after {
  background-color: #5d512b;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
}

.main__title {
  font-family: Playfair Display;
  color: #d4c17f;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  margin: 0;
  margin: auto;
  /* margin-top: 200px; */
  width: 560px;
}

.main__mouse {
  margin: 0 auto;
  display: block;
  /* margin-top: 100px; */
}

.main__contact {
  display: flex;
  justify-content: space-between;
  width: 590px;
  box-sizing: border-box;
  align-items: center;
  margin: auto;
  /* margin-top: 200px; */
}

.main__wrapper {
  height: calc(100vh - 95px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__adress,
.main__phone {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.main__phone {
  position: relative;
}
.main__phone::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 0;
  background-color: #d4c17f;
  transition: 0.5s;
}
.main__phone:hover::after {
  width: 100%;
}
.main__adress img {
  margin-right: 18px;
}

.main__phone img {
  margin-right: 15px;
}

.menu__toggle {
  display: none;
  outline: none;
}

/* end main section */

.testimonials {
  background: #242b33;
  padding-top: 120px;
}

.testimonials__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.testimonials__item {
  margin-left: 35px;
  margin-right: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.testimonials__title {
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-top: 50px;
}

/* end testimonials section  */

.apartments {
  background-color: #242b33;
  padding-top: 120px;
}

.apartments__title {
  margin: 0;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #d4c17f;
  margin-bottom: 80px;
}

.apartments__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.apartments__item {
  width: 535px;
  height: 320px;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}

.apartments__item-1 {
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%),
    url(../img/apartment-1.jpg), #d4c17f;
  background-repeat: no-repeat;
  background-size: cover;
}

.apartments__item-2 {
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%),
    url(../img/apartment-2.jpg), #d4c17f;
  background-repeat: no-repeat;
  background-size: cover;
}

.apartments__item-3 {
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%),
    url(../img/apartment-2.jpg), #d4c17f;
  background-repeat: no-repeat;
  background-size: cover;
}

.apartments__item-4 {
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%),
    url(../img/apartment-2.jpg), #d4c17f;
  background-repeat: no-repeat;
  background-size: cover;
}

.apartments__intro {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

/* end apartments sectoin */

.contact {
  background: url(../img/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 560px; */
  padding: 180px 0;
}

.contact .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__text-block {
  max-width: 540px;
}

.contact__title {
  margin: 0;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #d4c17f;
  margin-bottom: 50px;
}

.contact__text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.contact__form-block {
  width: 540px;
}

.contact__form {
  display: flex;
  flex-wrap: wrap;
}

.contact__form p {
  margin: 0;
}

.contact__input-name,
.contact__input-phone {
  width: 255px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
  border: none;
  text-align: center;
  margin-bottom: 35px;
  outline: none;
  box-sizing: border-box;
}
.contact__input-name:focus,
.contact__input-phone:focus {
  border: 1px solid #928350;
}

.contact__input-name {
  margin-right: 10px;
}

.contact__input-name::placeholder,
.contact__input-phone::placeholder {
  color: #ffffff;
}

.contact__form-btn {
  /* background: #d4c17f; */
  background: transparent;
  width: 255px;
  height: 50px;
  border: 3px solid #d4c17f;
  margin-left: 10px;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  transition: 0.3s;
  background: #d4c17f;
  cursor: pointer;
  outline: none;
}
.contact__form-btn:hover,
.contact__form-btn:focus {
  background: transparent;
}
.contact__form-btn:active {
  background: transparent;
  border: 3px solid #5d512b;
}

.contact__form-text {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #e7e7e7;
  width: 258px;
  margin: 0;
}

/* end contact section */

.video-section {
  background: #242b33;
}

.video {
  width: 720px;
  height: 650px;
  background-image: url(../img/video-poster.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.video__wrapper {
  position: relative;
}

.video__play-btn {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -50px;
}

/* end video section */

.map {
  background: #242b33;
  padding-top: 180px;
}

.map__title {
  margin: 0;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #d4c17f;
  margin-bottom: 100px;
}

/* end map section  */

.askme {
  background: #242b33;
  padding-top: 180px;
  padding-bottom: 180px;
}

.askme__title {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #d4c17f;
  margin: 0;
  margin-bottom: 50px;
}

.askme__form {
  display: flex;
}

.askme__form p {
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.askme__intro {
  width: 255px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #e7e7e7;
}

.askme__input-name,
.askme__input-phone {
  width: 255px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  line-height: 27px;
  color: #fff;
  border: none;
  text-align: center;
  outline: none;
  box-sizing: border-box;
}
.askme__input-name::placeholder,
.askme__input-phone::placeholder {
  color: #ffffff;
}

.askme__input-name:focus,
.askme__input-phone:focus {
  border: 1px solid #928350;
}

.askme__form-btn {
  background: transparent;
  width: 255px;
  height: 50px;
  border: 3px solid #d4c17f;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  /* margin-left: 15px;
  margin-right: 15px; */
  cursor: pointer;
  outline: none;
  background: #d4c17f;
  transition-duration: 0.3s;
}
.askme__form-btn:hover,
.askme__form-btn:focus {
  background: transparent;
}
.askme__form-btn:active {
  background: transparent;
  border: 3px solid #5d512b;
}

/* end askme section  */

.footer {
  background: #2d343c;
  padding: 60px 0;
}

.footer__logo {
  font-family: Raleway;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.footer__logo img {
  margin-bottom: 15px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer__site-map {
  display: flex;
}

.footer__site-map-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__site-map-item {
  margin-bottom: 15px;
}

.footer__site-map-item:last-child {
  margin-bottom: 0;
}

.footer__site-map--1-column {
  margin-right: 130px;
}

.footer__site-map--link {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-decoration: none;
  position: relative;
}
.footer__site-map--link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #d4c17f;
  transition: 0.3s;
}
.footer__site-map--link:hover::after {
  width: 100%;
}

.footer__contact-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__contact-item {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  margin-bottom: 15px;
}

.footer__contact-item:last-child {
  margin-bottom: 20px;
}

.footer__contact-item--phone {
  color: #ffffff;
  text-decoration: none;
  position: relative;
}
.footer__contact-item--phone::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #d4c17f;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.4s;
}
.footer__contact-item--phone:hover::after {
  width: 100%;
}

.footer__contact-item--email {
  color: #d4c17f;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}
.footer__contact-item--email::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #d4c17f;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.4s;
}
.footer__contact-item--email:hover::after {
  width: 100%;
}

.footer__social {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-icon {
  margin-right: 12px;
}

.footer__social-icon:last-child {
  margin-right: 0;
}
.footer__social-icon-link svg path {
  transition: 0.3s;
}
.footer__social-icon-link:hover svg path {
  fill: #d4c17f;
}

/* end footer section */

/* MEDIA! */

@media (max-width: 1100px) {
  .container {
    width: 90%;
  }

  .apartments__item {
    margin: auto;
    margin-bottom: 10px;
  }

  .contact__form-btn {
    margin-left: 0;
    margin-top: 20px;
  }

  .contact__input-phone,
  .contact__input-name {
    margin: 0;
    margin-bottom: 20px;
  }

  .contact__form {
    justify-content: flex-end;
  }

  .askme__form {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .askme__form-btn {
    order: 2;
  }

  .askme__intro {
    order: 1;
  }

  .askme__form .askme__input-p {
    margin: 0;
    flex-basis: 48.5%;
    margin-bottom: 20px;
  }

  .askme__input-name,
  .askme__input-phone {
    width: 100%;
  }

  .askme__form .askme__intro {
    margin: 0;
    flex-basis: 48.5%;
    box-sizing: border-box;
  }

  .askme__form-btn {
    margin: 0;
    flex-basis: 48.5%;
  }
}

@media (max-width: 870px) {
  .askme {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .footer__site-map--1-column {
    margin-right: 30px;
  }

  .main__item a {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 800px) {
  .video {
    width: 100%;
    height: auto;
  }

  .contact__text {
    padding-right: 15px;
  }
}

@media (max-width: 750px) {
  .footer .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .footer__contact {
    margin-top: 25px;
    text-align: center;
  }

  .footer__site-map {
    margin-top: 25px;
    order: 1;
    align-self: flex-start;
  }

  .footer__social {
    justify-content: center;
  }

  .testimonials__list {
    flex-wrap: wrap;
  }

  .testimonials__item {
    margin: 0;
    flex-basis: 48.5%;
    margin-bottom: 30px;
  }

  .testimonials__item-2 {
    padding: 0 0 23px;
  }
}

@media (max-width: 735px) {
  .menu__toggle {
    display: block;
  }

  .main__header {
    justify-content: center;
  }

  .main__nav {
    display: none;
  }

  .main__mouse {
    display: none;
  }
}

@media (max-width: 660px) {
  .main__contact {
    width: auto;
  }

  .main__adress {
    margin: 0;
    margin-right: 35px;
  }
}

@media (max-width: 600px) {
  .main__title {
    width: 100%;
    font-size: 40px;
    line-height: 56px;
  }

  .contact {
    padding: 100px 0;
  }

  .contact .container {
    display: flex;
    flex-direction: column;
  }

  .contact__form-block {
    width: auto;
  }

  .contact__form {
    justify-content: space-between;
  }

  .contact__title {
    margin-bottom: 30px;
  }

  .contact__text {
    margin-bottom: 20px;
  }

  .contact__form-btn {
    margin: 0;
    flex-basis: 48.5%;
  }

  .contact__form p {
    flex-basis: 48.5%;
  }

  .contact__input-name,
  .contact__input-phone {
    width: 100%;
  }

  .map {
    padding: 100px 0 0;
  }

  .map__title {
    margin-bottom: 50px;
  }
}

@media (max-width: 520px) {
  .main__contact {
    flex-direction: column;
    justify-content: flex-start;
  }

  .main__adress {
    margin: 0;
    margin-bottom: 25px;
  }
}

@media (max-width: 420px) {
  .contact__form p {
    flex-basis: 100%;
  }

  .contact__form-btn {
    flex-basis: 100%;
    margin-top: 20px;
  }

  .askme__form .askme__intro {
    flex-basis: 100%;
  }

  .askme__form .askme__input-p {
    flex-basis: 100%;
  }

  .askme__form-btn {
    flex-basis: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 350px) {
  .testimonials__item {
    flex-basis: 100%;
  }
}
